<div class="container">
    <!-- <h1 class="text-center mt-3">My Profile</h1> -->
    <div class="row mt-5">
        <div class="col-sm-6">
            <img src="{{User.avatar_url}}" alt="Profile pic" class="img-fluid rounded-pill">
        </div>
        <div class="col-sm-6">
            <h4 class="text-center">My Profile Details</h4>
            <hr>
            <p *ngIf="User.name"><strong><span>Name : &nbsp;</span></strong>{{User.name}}.</p>
            <p *ngIf="User.login"><strong><span>Profile Name : &nbsp;</span></strong>{{User.login}}.</p>
            <p *ngIf="User.bio"><strong><span>Bio : &nbsp;</span></strong>{{User.bio}}.</p>
            <p *ngIf="User.public_repos"><strong><span>Public repositories : &nbsp;</span></strong>{{User.public_repos}}&nbsp;repositories</p>
            <p *ngIf="User.created_at"><strong><span>Inception Date : &nbsp;</span></strong>{{User.created_at| dateCount}}.</p>
            <div class="row">
                <div class="col-sm-6">
                    <p *ngIf="User.followers" class="text-center"><strong><span>Followers : &nbsp;</span></strong>{{User.followers}}.</p>
                </div>
                <div class="col-sm-6">
                    <p *ngIf="User.following" class="text-center"><strong><span>Following : &nbsp;</span></strong>{{User.following}}.</p>
                </div>
            </div>
            <p *ngIf="User.location"><strong><span>Current Location : &nbsp;</span></strong>{{User.location}}.</p>
            <div class="row">
                <!-- <div class="col-sm-6">
                    <a href="{{User.html_url}}" target="_blank"><button class="btn bg-primary text-white profile">View Profile</button></a>
                </div> -->
                <div class="col-sm-6">
                    <button class="float-end btn bg-dark text-white">Explore More</button>
                </div>
            </div>
        </div>
    </div>
</div>

















<!-- <div class="container" *ngFor="let user of User">

    <form class="col-md-6">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your GitHub Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg:kim-olanga">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>
    
    <ol>
        <a href="" target="_blank">{{user.name}}</a>
    </ol>
</div> -->