<div class="container" *ngFor="let user of Users">

    <form class="col-md-6">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your GitHub Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="eg:kim-olanga">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>
    
    <ol>
        <a href="" target="_blank">{{user.name}}</a>
    </ol>
</div>