body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./assets/background11.jpg);
    background-size: cover;
    font-weight: bolder;
}
.topnav{
    overflow: hidden;
}
.topnav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}
.topnav a:hover{
    color: blue;
}
.topnav a.active{
    background-color: #04AA;
}